:root {
  --shadow-color: 0deg 0% 0%;
  
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}



.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
padding: 1rem;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color:
#D1D5DB;
  margin-top: 1.2rem;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 5px;
  display: block;
  font-size: 1.3rem
}

.waverDiv{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#msgInput{
width: 20rem;
height: 3rem;
border-radius: 0.3rem;
font-size: 1.2rem;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
padding: 0.5rem;
outline:0px none transparent;
margin-top: 0.5rem;
}

.msgDiv{
  background-color: #374151;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-elevation-medium);
}

.msgDiv div{
  margin-bottom: 0.5rem;
}

.msgBold{
  font-weight: bold;

}

.allMsgDivs{
  display: flex;
  flex-direction: column-reverse;
}