.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color:
#D1D5DB;
  margin-top: 1.2rem;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 5px;
  display: block;
  font-size: 1.3rem
}